img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.image_container {
    height: 150px;
    overflow: hidden;
}
.roomButton {
    width: 100%;
    margin-bottom: 20px;
}
input {
    width: 100%;
}
select {
    width: 100%;
}