.main {
    background-color: rgba(0,0,0,0.5);
    margin: 0 0;
    padding: 0 0;
    height: 100vh;
}
.main_container {
    width: 80%;
    background-color: rgba(177, 166, 166, 0.2);
    padding: 20px;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 25px;
}